* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;

}

body {
    text-align: center;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #4d52ff, #864df1);
    padding: 20px 50px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.logo h1 {
    font-size: 28px;
    color: #d1d1d1;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    font-size: 17px;
    margin-right: 100px;
}

nav ul li ul {
    width: 100px;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 10;

}

nav ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 70px;
}

nav ul li ul::before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #d1d1d1;
    color: #4d52ff;
    border-radius: 5px;
    padding: 5px 10px;
}

#img {

    width: 500px;
    height: 450px;
    border: 2px solid black;
    margin: 20px auto;

}

  

  

    


